@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
    margin: 0%;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(45deg, #085b69, hsl(194, 100%, 82%), #085b69);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    border-radius: 8px;
    background-color: rgb(253, 253, 253);
    color: rgb(12, 117, 141);
    max-width: 400px;
    min-height: 400px;
    padding: 4rem;
    box-shadow: 5px 5px 5px, rgb(0, 14, 17)
}

main h1 {
    font-weight: 10000;
    margin-bottom: 2rem;
    position: relative;
    color: #fa8080;
}

.footer-copyright {
    background-color: rgb(0, 0, 0);
    color: rgb(245, 244, 244);
    margin-top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    background-color: hsl(210, 11%, 96%);
    padding: 80px;
    border-radius: 20px;
    padding: 0.4em;
    margin-top: 2%;
    box-shadow: 4px 4px 4px rgb(23, 129, 179);
    /* Todos os li dentro da nav vão ter essas caracteristicas */
}

.nav {
    position: absolute;
    left: 0%;
    top: 0;
    background-repeat: no-repeat;
    min-height: 30vh;
    min-width: 30vh;
    display: flex;
    margin-top: 0.5rem;
    color: black;
}

.nav a {
    color: rgb(0, 0, 3);
    /* A ideia é que todos os "as" dentro do li vao ser pretos usando .nav a */
    text-decoration: none;
}

main.container {
    border-radius: 8px;
    background-color: rgb(252, 252, 252);
    color: rgb(13, 111, 136);
    max-width: 400px;
    min-height: 400px;
    padding: 4rem;
    box-shadow: 5px 5px 5px, rgb(0, 14, 17)
}