{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2cbdb08e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Cadastrar pessoa</title>
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="{%url 'home' %}"><i class="fas fa-plus-circle"></i> Início</a></li>
            <li><a href="{%url 'cadastrar_pessoa'%}"><i class="fas fa-plus-circle"></i>Cadastrar pessoa</a></li>
            <li><a href="{%url 'registrar_opcao_de_voto' %}"><i class="fas fa-plus-circle"></i> Cadastrar opção de voto</a></li>
            <li><a href="{%url 'registrar_votacao' %}"><i class="fas fa-plus-circle"></i> Cadastrar votação</a></li>
            <li><a href="{%url 'listar_pessoas' %}"><i class="fas fa-plus-circle"></i> Lista de pessoas cadastradas</a></li>
            <li><a href="{%url 'listar_votacao' %}"><i class="fas fa-plus-circle"></i> Lista de votações</a></li>
            <li><a href="{%url 'votacoes_disponiveis' %}"><i class="fas fa-plus-circle"></i> Votações disponíveis</a></li>
            <li><a href="{%url 'votar' %}"><i class="fas fa-plus-circle"></i> Votar</a></li>
        </ul>
    </nav>

    <main class="container">
        <h1>Cadastrar Pessoa</h1>
        <form method="POST">
            {% csrf_token %}
            <div>

                <label>Nome:</label> {{form.nome}}
            </div>
            <br>

            <div>
                <label>Email</label> {{form.email}}
            </div>
            <div>

                <label>Data de nascimento(AAAA-MM-DD)</label> {{form.data_nascimento}}
            </div>


            <br>
            <div>
                <label>CPF</label> {{form.cpf}}
            </div>
            <div>
                <p>(*)Os campos são obrigatórios!</p>
            </div>
            <div>
                <input class="button" type="submit" value="Continue">
            </div>
        </form>
        <br>


        <div class="footer-copyright">
            <div class="container">
                © 2021
            </div>
        </div>
        </footer>





    </main>

</body>

</html>