{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2cbdb08e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Listar pessoas</title>
</head>
<!-- <main class="container-listar">
    <h1 class="title">Lista de pessoas cadastradas</h1>
</main> -->
<nav class="nav">
    <ul>
        <li><a href="{%url 'home' %}"><i class="fas fa-plus-circle"></i> Início</a></li>
        <li><a href="{%url 'cadastrar_pessoa'%}"><i class="fas fa-plus-circle"></i> Cadastrar pessoa</a></li>
        <li><a href="{%url 'registrar_opcao_de_voto' %}"><i class="fas fa-plus-circle"></i> Cadastrar opção de voto</a></li>
        <li><a href="{%url 'registrar_votacao' %}"><i class="fas fa-plus-circle"></i> Cadastrar votação</a></li>
        <li><a href="{%url 'listar_pessoas' %}"><i class="fas fa-plus-circle"></i> Lista de pessoas cadastradas</a></li>
        <li><a href="{%url 'listar_votacao' %}"><i class="fas fa-plus-circle"></i> Lista de votações</a></li>
        <li><a href="{%url 'votacoes_disponiveis' %}"><i class="fas fa-plus-circle"></i> Votações disponíveis</a></li>
        <li><a href="{%url 'votar' %}"><i class="fas fa-plus-circle"></i> Votar</a></li>

    </ul>
</nav>

<div class="container-table">
    <h1 class="container-listar">Lista de votações</h1>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Nome:</th>
                <th>Data do inicio:</th>
                <th>Data do fim::</th>
            </tr>
        </thead>

        <tbody>

            {% for aux in listVotacao %}
            <tr>
                <td>->{{aux.nome}}</td>
                <td>->{{aux.data_inicio}}</td>
                <td>->{{aux.data_termino}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</div>

</html>