{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2cbdb08e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>VOTAÇÃO</title>
</head>

<bodys>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'cadastrar_pessoa' %}"><i class="fas fa-plus-circle"></i> Cadastrar pessoa</a></li>
            <li><a href="{% url 'registrar_opcao_de_voto' %}"><i class="fas fa-plus-circle"></i> Cadastrar opção de voto</a></li>
            <li><a href="{% url 'registrar_votacao' %}"><i class="fas fa-plus-circle"></i> Cadastrar votação</a></li>
            <li><a href="{%url 'listar_pessoas' %}"><i class="fas fa-plus-circle"></i> Lista de pessoas cadastradas</a></li>
            <li><a href="{%url 'votacoes_disponiveis' %}"><i class="fas fa-plus-circle"></i> Votações disponíveis</a></li>
            <li><a href="{%url 'listar_votacao' %}"><i class="fas fa-plus-circle"></i> Lista de votações</a></li>
            <li><a href="{%url 'listar_pessoas' %}"><i class="fas fa-plus-circle"></i> Votar</a></li>

        </ul>
    </nav>

    <main class="container">
        <h1>VOTAÇÃO</h1>
        <p>(*)Os campos são obrigatórios!</p>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Nome:</label> {{form.nome}}
            </div>

            <div>

                <label>Data do inicio:(AAAA-MM-DD)</label> {{form.data_inicio}}
            </div>

            <div>

                <label>Data do fim:(AAAAA-MM-DD)</label> {{form.data_termino }}
            </div>
            <div>

                <p>Descrição:</p>
                {{form.descricao }}


            </div>


            <div>
                <input class="button" type="submit" value="Continue">
            </div>
        </form>
        <br>
        <div class="footer-copyright">
            <div class="container">
                © 2021
            </div>
        </div>
        </footer>





    </main>

    </body>

</html>